# version
__version__.py
__git_version__.py

# backup files
*~

# compiled python and shared objects
*.pyc
*.pyo
*.so

# examples
*.mat
*.prof

# setuptools
build
dist
PyBLAW*

# sphinx
_build
_doctrees
_ghpages

# examples
*.h5
*.prof
